
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #f5f5f5; */
  display: flex;
  justify-content: center;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/***LOGIN***/
.login-form {
  margin: 30px;
  width: 240px;
  height: 650px;
  padding: 30px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;  
}

.login-input-container {
  width: 95%;
  padding: 0px 5px 5px 5px;
  margin: 0 auto;
}

.login-input-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 60px;
  margin-top: 30px;
}

.login-input-container input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}

.login-form input {
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  width: 95%;
  height:10px ;
  text-align: center;
}

.login-form button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px; 
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #44656E;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
  margin-bottom: 24px;
}

.login-form button:hover {
  background: #2e454b;  
}

.login-form button:active {
  background: #44656E;
}

/***MAIN***/

/*Header*/
.header {
  width: 100vw;
  height: 50vh;
  background-color:#44656E;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items:center;
  /* margin: 30px 0; */
}

/* .header-container {
  display: flex;
  flex-direction: column;
} */

/*ICON I MOBILVERISION*/
/* .header-icon {
  width: 115px;
  height:115px;
  border-radius: 50%;
  border: 2px solid #F8EEE8;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #F8EEE8;
} */

.header-text {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 0 40px;
  
}

.header-h1 {
  color: #dfbeac;
  margin: 0;
  font-family: 'Playball', cursive;
  font-weight: 700;
  font-size: 40px;
}

.header-h2 {
  color: #dfbeac;
  margin: 0;
  font-family: 'Playball', cursive;
  font-weight: 700;
  font-size: 30px;
}

.logout-button  {
  outline: none;
  border: none;
  cursor: pointer;
  width:80px ;
  height:20px;
  border-radius: 30px; 
  font-size: 16px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  text-align: center;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
  margin: 70px 0 0 0px;
  color:#dfbeac;
  background-color:#2e454b;
}

.logout-button:hover {
  transform:scale(1.1);  
}

.logout-button button:active {
  background: #44656E;
}

.main-container {
  width: 100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* margin: 40px; */
}

.main-content {
  display: flex;  
  flex-direction: column;
}

.worldmap-container {
  margin-top: -70px;
   width: fit-content;
   height: auto;
   padding: 30px 5px 35px 5px;
   border-radius: 40px;
   background: #ecf0f3;
   box-shadow: 13px 13px 20px #cbced1;  
   min-width: 336px;
   min-height: 301px;
   display:flex;
   justify-content: center;
   align-items: center;
 }

h2 {
  color: #44656E;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Playball', cursive;
  margin: 0 50px;
}

 .add-countries-form {
  display:flex;
  flex-direction:column;
  font-family: 'Lato', sans-serif;
  margin: 0 30px ;
  margin-top: 40px;
  width: 75vw;
  height: auto;
  padding: 30px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1; 
 }
p,
.add-countries-text {
  color: #44656E;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Playball', cursive;
  text-align: center;
}

.add-countries-form select {
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -2px -8px 8px #ffffff;
  width: 100%;
  height: 50px;
  text-align:center;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  color: #555;
  padding: 15px 10px 15px 5px;
}

.add-countries-form button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px; 
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #44656E;
  text-align: center;
  background: #dfbeac;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
  margin-bottom: 24px;
}

.add-countries-form button:hover {
  background:  #c2a08e ;  
}

.add-countries-form button:active {
  background:  #dfbeac;
}

.add-tips-form {
  display:flex;
  flex-direction:column;
  font-family: 'Lato', sans-serif;
  margin: 0 30px ;
  margin-top: 40px;
  width: 75vw;
  height: auto;
  padding: 30px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1; 
}

.add-tips-form select{
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  width: 100%;
  height:50px ;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  color: #555;
  padding: 15px 10px 15px 5px;
}

.add-tips-form input {
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  width: 98%;
  height:10px ;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}

.add-tips-button {
  /* -webkit-text-stroke: .5px #3d3c3c; */
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 30px; 
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #dfbeac;
  text-align: center;
  background:  #44656E;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
  margin-bottom: 24px;
}

.add-tips-button:hover {
  background: #2e454b;  
}

.add-tips-button button:active {
  background: #44656E;
}

.travel-tips-container {
  display:flex;
  flex-direction:column;
  font-family: 'Lato', sans-serif;
  margin: 0 30px ;
  margin-top: 40px;
  width: 75vw;
  height: auto;
  padding: 30px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1; 
}


/***TABLET***/
  @media (min-width: 768px) {
  .login-input-container {
    width: 80%;
    padding: 0px 5px 5px 5px;
    margin: 0 auto;
  }
  
  .login-form input {
    margin-bottom: 30px;
    height:20px ;
  }
  
  .login-form button {
    width: 80%;
    height: 60px;
    margin:0 45px 24px;
  }
  
  .login-form button:hover {
    background: #2e454b;  
  }
  
  .login-form button:active {
    background: #44656E;
  }
  .login-form {
    margin: 50px;
    width: 400px;
    height: 840px;
    padding: 60px 35px 35px 35px;
  }
  .header-container {
  
    margin: 40px;
  }
  .header-icon {
    width: 200px;
    height:200px;
    }

    .header-text {
      margin: 30px 30px 0 200px;
    }

    h1 {
      font-size: 50px;
    }

    .logout-button  {
      width:120px ;
      height:40px;
    }
  
  .login-form button {
    width: 80%;
    height: 60px;
    margin:0 45px 24px;
  }
  
  .login-form button:hover {
    background: #2e454b;  
  }
  
  .login-form button:active {
    background: #44656E;
  }
  .countries-form {
    margin-left:50px;
     width: 300px;
   }
   .main-content {
     margin-left: 50px;
     width: 100vw;
     /* display: grid;
     grid-template-columns: 1fr 1fr; */
     display: flex;
     flex-direction: row;
     /* justify-items: center; */
     /* align-items: center; */
     flex-wrap: wrap;
 
   }
}



/***DESKTOP***/
@media (min-width:992px) {
  .login-form {
    margin: 20px;
    width: 800px;
    height: 800px;
    padding: 60px 35px 35px 35px;
  }
  
  .login-input-container {
    width: 50%;
    padding: 0px 5px 5px 5px;
    margin: 0 auto;
   }

   .login-input-container img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 0 auto 60px 40px;
  }
  
  .login-form input {
    margin-bottom: 30px;
    height:20px ;
  }
  
  .login-form button {
    width: 50%;
    height: 60px;
    margin:0 200px 24px;
  }
  
  .login-form button:hover {
    background: #2e454b;  
  }
  
  .login-form button:active {
    background: #44656E;
  }
  .header-icon {
    width: 300px;
    height:300px;
    /* border-radius: 50%; */
    /* border: 2px solid #F8EEE8;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #F8EEE8; */
  }

  .lottie-container {
    width: 300px;
    height:300px;
  }
  .header-text {
    margin: 70px 30px 0 40px;
  }

  .logout-button  {
    
    margin: 60px 0 0 0px;
    
  }
  .worldmap-container,
  .add-tips-form,
  .add-countries-form,
  .travel-tips-container {
   /* margin-left:50px; */
    width: 45vw;
  }
  .main-content {
    /* margin-left: 50px; */
    width: 100vw;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    /* justify-items: center; */
    /* align-items: center; */
    flex-wrap: wrap;

  }

}  